@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray_support: #3E3E3E;
  --black-principal: #212121;
  --green-support: #b2ed00;
  --gray-light: #cdcdcd;
  --white-principal: #f3f3f3;
}

@font-face {
  font-family: 'AntaFont';
  src: url('/fonts/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CourgetteFont';
  src: url('/fonts/Courgette/Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DeutschlanderFont';
  src: url('/fonts/Deutschlander/Deutschlander.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterFont';
  src: url('/fonts/Inter/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'KanitFont';
  src: url('/fonts/Kanit/Kanit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'KanitFont';
  src: url('/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--black-principal);
  font-size: 18px;
  letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-light);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray_support);
  border-radius: 6px;
  border: 3px solid var(--gray_support);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gray_support);
}